<!DOCTYPE html>
<html>
<head>
  <title>TweetConversationViewer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="assets/tooltipsy.min.js">
</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menubar">
    <div id="logo">
      TWTTR FRGMNTS
    </div>
    <div id="moto">
      tracking twitter fragmentation
    </div>
    <div id="signin">
      <% if user_signed_in? %>
        <div class="signin-text">
          @<%= @screen_name %>
          <%= link_to "(Sign out)", destroy_user_session_path,:method => :delete %>
        </div>
        <div id="user-image" style="background-image: url(<%= @image %>); height: 50px; width: 50px; float: right">
        </div>
      <% else %>
        <div class="signin-text">
          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
        </div>
      <% end %>
    </div>  
  </div>
  <div id="trees">
    <a href="#" id="tree2">1</a> | <a href="#" id="tree3">2</a> | <a href="#" id="tree1">3</a>
  </div>
  <div id="about">
    <p>
      TWTTR FRGMNTS was built to help organize complex Twitter conversations and visualize how they fragment over time.
    </p>
    <p>
      The tweet above is the beginning of a conversation. Hover over it to see its text. Click it to see its replies.
    </p>
    <p>
      Tweets outlined in <span style="color: rgb(29,202,255)">blue</span> have replies. Tweets outline in <span style="color: orange">orange</span> have no replies.
    </p>
  </div>
  <div id="keys1">
    <span style="color: rgb(29,202,255)">Blue</span> = Tweet has replies
  </div>
  <div id="keys2">
    <span style="color: orange">Orange</span> = Tweet has no replies
  </div>

<%= yield %>


</body>
</html>
